@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/Content/home-bg.jpg');
        "}
</style>

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true">
    </div>
    <div class="container ">
        <form method="POST" action="{{action('PostController@store')}}">
            <div class="form-group text-center">
                <label for="title">Title</label>
                <input type="text" style="max-width:inherit" name="title" class="form-control " id="title" placeholder="Title">
            </div>
            <div class="form-group  text-center">
                <label for="description">Description</label>
                <textarea placeholder="Description" style="max-width:inherit" class="form-control" id="description" type="text" name="description" style="background-color: white" height="auto" rows="7"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">
                POST
            </button>
        </form>
    </div>
</div>