@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../../Content/bg-7.png');
        "}
</style>

<br />
<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h2 style="font-weight: bold;margin-top:20px">All My Posts</h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="../Post/Create"> Create New Post</a>
        </div>
    </div>
</div>
@*@if (ViewBag.Message != "")
    {
        <div class="alert alert-@ViewBag.Status">
            <strong>@ViewBag.Message</strong>
        </div>
    }*@

<table class="table table-bordered table-hover" style="table-layout: fixed">
    <tr>
        <th width="50px">No</th>
        <th>Title</th>
        <th>Description</th>
        <th width="280px">Action</th>
    </tr>
    <tr>
        <td>1</td>
        <td style="word-wrap: break-word">Are women suitable for coding-related jobs? </td>
        <td style="word-wrap: break-word">
            To give a perhaps better illustration of my argument consider math. 
            Sure there are female math geniuses out there (one actually won a Fields medal) but problem the whole history of modern physics and maths inch by inch and then compare the results.  How many males vs females?
        </td>
        <td>
            <a class="btn btn-info" href="../Post/Show">Show</a>
            <a class="btn btn-primary" href="../Post/Edit">Edit</a>
            <a class="btn btn-danger" href="#">Delete</a>
            </form>
        </td>
    </tr>
</table>