@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-image: url('/Content/home-bg.jpg');
        "}
</style>

<div class="container-fluid" style="background-color:lavenderblush">
    <div class="row >
        <!-- Post Content Column -->
        <div class="col-lg-8" style="margin: auto">
            <!-- Title -->
            <h1 class="mt-4" style="font-weight:bolder">Judulnya</h1>
            <!-- Author -->
            <p>
                by
                <a href="#">Username</a>
            </p>
            <!-- Date/Time -->
            <p>Posted on : Tanggal Post</p>
            <hr>
            <!-- Post Content -->
            <h3 style="word-wrap: break-word">Blalalallalallaaa deskripsinyaa</h3>
            <hr>
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body align-content-center">
                    <form method="POST" action="{{action('CommentController@store')}}">
                        <div class="form-group">
                            <textarea name="body" class="form-control" style="width:800px" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Post Comment</button>
                    </form>
                </div>
            </div>
            <!-- Comments Form -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container --> 