@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true">
    </div>
    <div class="container center-block">
        <form method="POST" action="{{action('PostController@store')}}">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" style="background-color: white" name="title" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea placeholder="Description" class="form-control" id="description" type="text" name="description" style="background-color: white" height="auto" rows="7"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">
                POST
            </button>
        </form>
    </div>
</div>
