@model IEnumerable < blog.Models.POCO.Post >

@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../../Content/bg-7.png');
        }
</style>

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <a href="../Post/Show/@item.PostID">
                        <h2 class="post-title" style="word-wrap: break-word">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <br />
                        <h5 class="post-subtitle" style="word-wrap: break-word">
                            @Html.DisplayFor(modelItem => item.Description)
                        </h5>
                    </a>
                    <p class="post-meta">
                        Posted by
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </p>
                </div>
                <hr />
            }
            </div>
    </div>
</div>
