@model IEnumerable<blog.BundleConfig>

@{
    ViewBag.Title = "All Post";
}

<div class="container">   
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            for ($dashboard as $dashboards)
            {
                <div class="post-preview">
                    <a href="{{url('/dashboard/'.$dashboards->id)}}">
                        <h2 class="post-title" style="word-wrap: break-word">
                            {{$dashboards->title}}
                        </h2>
                        <h2 class="post-subtitle" style="word-wrap: break-word">
                            {{ str_limit($dashboards->description, $limit = 40, $end = '...') }}
                        </h2>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">{{$dashboards->user->full_name}}</a>
                        {{$dashboards->created_at}}
                    </p>
                </div>
                <hr>
            }

            if($dashboard->nextPageUrl() != null)
            {
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{$dashboard->nextPageUrl()}}">Older Posts &rarr;</a>
            </div>
            }

            if ($dashboard->previousPageUrl() != null)
            {
                if ($dashboard->toArray()['first_page_url'])
                {
                    <div class="clearfix">
                        <a class="btn btn-primary float-left" href="{{url('dashboard')}}">&larr; Newer Posts</a>
                    </div>
                }
                else
                {
                    <div class="clearfix">
                        <a class="btn btn-primary float-left" href="{{$dashboard->previousPageUrl()}}">&larr; Newer Posts</a>
                    </div>
                }
            }
        </div>
    </div>
</div>

